/*
File: pmPlanner.css
*/

.chartTitle{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 15px;
}
.pmTableContainer{
	margin-right:auto;
	/*margin-left:auto;*/
	margin-left:10px;
	
	padding: 7px;
	text-align: left;
	font-size: 12px;
	border: 1px solid #999999;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #F5F5F5;
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#E4E4E4));
	background: -moz-linear-gradient(top,  #F5F5F5,  #E4E4E4);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	margin-bottom:10px;
	display:table;
}

.remaining.warning_cell
{
	background-color:#9bff9b;
}



.remaining.due_cell{
	background-color:#ffff9a;
}

.remaining.critical_cell
{
	background-color:#ff9a9a;
}



.th {
	border-bottom:1px solid black;
}

td {
	border-right: 1px solid #DADADA;
	border-top: 1px solid #DADADA;
}

td:hover {
	cursor:default;
}

#legend {
	text-align:center;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding:5px;
	background-color: #F5F5F5;
	background: -webkit-gradient(linear, left top, left bottom, from(#F5F5F5), to(#E4E4E4));
	background: -moz-linear-gradient(top,  #F5F5F5,  #E4E4E4);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
	display:table;
	width:240px;
	font-size:12px;
	margin-bottom:10px;
	
}

.legendColor {
	width:14px;
	height:14px;
	display:inline-block;
	vertical-align:text-bottom;
}

.legendLabel {
	display:inline-block;
	margin-right:10px;
	margin-left:2px;
}
.chamberName {
	font-size: 14;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;

}